<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> welcome to the text analyzer.enter yoyr text below</h1>
<form action='/analyze' method='get'>
    <textarea  name='text' style='margin: 0px; width: 731px; height: 78px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">REMOVENEWLINE<br>
    <input type="checkbox" name="extraspaceremover"> EXTRASPACEREMOVER<br>
    <input type="checkbox" name="countingcharacter">COUNTCHARAC<br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>